@font-face {
    font-family: 'Friz Quadrata Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Medium'), url('/fonts/friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
}

body {
    margin: 0;
    font-family: 'Friz Quadrata Std Medium';
    color: rgb(240, 230, 210);
    background-color: rgb(1, 10, 19);
}